# local package
-e .

# External requirements
click==8.1.3
evidently==0.2.1
hydra-core==1.3.1
numpy==1.22.3
omegaconf==2.3.0
pandas==1.5.2
python-dotenv==0.21.0
scikit_learn==1.2.0
torch==1.13.1
torchvision==0.14.1
wandb==0.13.9
evidently==0.2.1

# Dev stuff
flake8==6.0.0
isort==5.11.4
black==22.12.0
Sphinx==6.1.2
pytest==7.2.0
pytest-cov==4.0.0
dvc