# local package
-e .

# external requirements
click
Sphinx
flake8
black
python-dotenv>=0.5.1
torch
torchvision
pandas

pelutils
pytest
coverage
pytest-cov
hydra-core

flake8
isort
black

mypy

omegaconf
wandb
hydra-core

evidently
